[submodule "MinimalSileroVad"]
	path = MinimalSileroVad
	url = https://github.com/calebtt/MinimalSileroVad.git
	branch = master
[submodule "soundtouch.net"]
	path = soundtouch.net
	url = https://github.com/calebtt/soundtouch.net.git
[submodule "MinimalTextClassifier"]
	path = MinimalTextClassifier
	url = https://github.com/calebtt/MinimalTextClassifier
[submodule "clean-speech"]
	path = clean-speech
	url = https://github.com/calebtt/clean-speech.git
