/MinimalVoiceAgent/.vs
/MinimalVoiceAgent/bin
/MinimalVoiceAgent/obj
/MinimalVoiceAgent.Tests/.vs
/MinimalVoiceAgent.Tests/bin
/MinimalVoiceAgent.Tests/obj
/AudioProcessingModuleCs/.vs
/AudioProcessingModuleCs/obj
/AudioProcessingModuleCs/bin
/ScreenyDimmery/.vs
/ScreenyDimmery/ScreenyDimmery/bin
/ScreenyDimmery/ScreenyDimmery/obj
/ScreenyDimmery/ScreenyDimmery/x64
/WakeWordTrainingDataGenerator/obj
/WakeWordTrainingDataGenerator/bin
/WakeWordTrainingDataGenerator/data
