/MinimalVoiceAgent/.vs
/MinimalVoiceAgent/bin
/MinimalVoiceAgent/obj
/AudioProcessingModuleCs/.vs
/AudioProcessingModuleCs/obj
/AudioProcessingModuleCs/bin
/ScreenyDimmery/.vs
/ScreenyDimmery/ScreenyDimmery/bin
/ScreenyDimmery/ScreenyDimmery/obj
/ScreenyDimmery/ScreenyDimmery/x64
/WakeWordTrainingDataGenerator/obj
/WakeWordTrainingDataGenerator/bin
/WakeWordTrainingDataGenerator/data
